<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Activity</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Activity Details</h1>
<h3 th:if="${message!=null}" th:text="${message}">Message</h3>
<table>
    <tr>
        <th>issue:</th>
        <td th:text="${entity.issue}"></td>
    </tr>
    <tr>
        <th>type:</th>
        <td th:text="${entity.type}"></td>
    </tr>
    <tr>
        <th>description:</th>
        <td th:text="${entity.description}"></td>
    </tr>
    <tr>
        <th>dateCreated:</th>
        <td th:text="${entity.dateCreated}"></td>
    </tr>


</table>
<br>
<a th:href="@{/activity}">Back to the List</a>
<a th:href="@{/activity/edit/{id}(id=${entity.id})}">Edit</a>
<form th:if="${entity.id!=null}" method="get"
      th:action="'/activity/'
               + ${entity.id} + '/delete'">
    <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
</form>
</body>
</html>
