<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Board</title>
</head>
<body>
<h1>Edit Board</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/board}" th:object="${entity}" method="post">

    <p>
        <label for="project">project:</label>
        <input type="text" th:field="*{project}" id="project" required>
    </p>
    <p>
        <label for="columns">columns:</label>
        <select multiple="multiple" th:field="*{columns}" id="columns">
            <option th:each="columns_item : ${columns_list}" th:value="${columns_item}"
                    th:text="${columns_item}"></option>
        </select>
    </p>
    <p>
        <label for="issues">issues:</label>
        <select multiple="multiple" th:field="*{issues}" id="issues">
            <option th:each="issues_item : ${issues_list}" th:value="${issues_item}" th:text="${issues_item}"></option>
        </select>
    </p>
    <p>
        <label for="labels">labels:</label>
        <select multiple="multiple" th:field="*{labels}" id="labels">
            <option th:each="labels_item : ${labels_list}" th:value="${labels_item}" th:text="${labels_item}"></option>
        </select>
    </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/board}">Cancel</a>
    </p>
</form>

</body>
</html>
