<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Columns</title>
    <div th:replace="~{commons :: head}"></div>
</head>
<body>

<div th:replace="~{commons :: header}"></div>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <!-- left menu -->
            <div th:replace="~{commons :: left-menu}"></div>
            <!-- projects list -->
            <div class="col-8 m-auto">
                <h1>List of Columns</h1>
                <h3 th:if="${message != null}" th:text="${message}">Message</h3>
                <a th:href="@{/column/{id}/edit(id=${project.id})}"
                   th:classappend="${isOwner != null and isOwner == false} ? 'hidden' : ''"
                   class="btn btn-primary mb-3">Create new Column</a>
                <div class="table-container">
                    <div class="table-row table-header">
                        <div class="table-cell">Name</div>
                        <div class="table-cell">Actions</div>
                    </div>
                    <div class="table-row" th:each="entity : ${list}">
                        <div class="table-cell" th:text=${entity.name}></div>
                        <div class="table-cell" th:classappend="${isOwner != null and isOwner == false} ? 'hidden' : ''">
                            <a th:href="@{/column/{id}/edit/{columnId}(id=${project.id}, columnId=${entity.id})}" class="btn btn-warning btn-sm">Edit</a>
                            <form th:if="${entity.id!=null}" method="get"
                                  th:action="'/column/'+${entity.id}+'/delete'"
                                  class="d-inline">
                                <input type="submit" value="Delete" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{commons :: footer}"></div>

</body>
</html>
