<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.min.js"></script>
    </meta>
</head>

<body>
<header id="header" class="header-area main-header" th:fragment="nav">
    <div class="container">
        <div class="header-content">
            <a href="/" class="header-logo">🏠</a>
            <div class="header-buttons">
                <a href="/registration" class="btn btn-register" th:if="${#request.userPrincipal ==null}">Register</a>
                <a href="/login" class="btn btn-signin" th:if="${#request.userPrincipal ==null}">Sign in</a>
                <a href="/logout" class="btn btn-signin" th:if="${#request.userPrincipal !=null}">Log out</a>
            </div>
        </div>
    </div>
</header>

<div class="col-4" th:fragment="left-menu">
    <ul class="left-menu">
        <li>
            <span class="menu-icon">📈</span>
            <a href="/activity">Project activity</a>
        </li>
        <li>
            <span class="menu-icon">⌛</span>
            <a href="/board">Time board</a>
        </li>
        <li>
            <span class="menu-icon">🚦</span>
            <a href="/column">Board column</a>
        </li>
        <li>
            <span class="menu-icon">💬</span>
            <a href="/comment">Comments</a>
        </li>
        <li>
            <span class="menu-icon">📝</span>
            <a href="/issue">Issues</a>
        </li>
        <li>
            <span class="menu-icon">📌</span>
            <a href="/label">Labels</a>
        </li>
        <li>
            <span class="menu-icon">👥</span>
            <a href="/user">Users</a>
        </li>
    </ul>
</div>


<footer class="footer-section" th:fragment="footer">
</footer>
<!-- Footer Area End -->


</body>

</html>