<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    </meta>
</head>

<body>
<header id="header" class="header-area main-header" th:fragment="nav">
    <div class="container">
        <div class="header-content">
            <div>
                <a href="/" class="header-logo">🏠</a>
                <a href="/user" class="btn " th:if="${#request.userPrincipal != null}">👥</a>
            </div>
            <div class="header-buttons">
                <a href="/registration" class="btn btn-register" th:if="${#request.userPrincipal == null}">Register</a>
                <a href="/login" class="btn btn-signin" th:if="${#request.userPrincipal == null}">Sign in</a>
                <a href="/logout" class="btn btn-signin" th:if="${#request.userPrincipal != null}">Log out</a>
            </div>
        </div>
    </div>
</header>

<div class="col-4" th:fragment="left-menu" th:if="${project.id != null}">
    <ul class="left-menu">
        <li>
            <span class="menu-icon">📈</span>
            <a th:href="'/project/' + ${project.id} + '/activity'">Project activity</a>
        </li>
        <li>
            <span class="menu-icon">⌛</span>
            <a th:href="'/project/' + ${project.id} + '/board'">Time board</a>
        </li>
        <li>
            <span class="menu-icon">📝</span>
            <a th:href="'/project/' + ${project.id} + '/issue'">Issues</a>
        </li>
        <li>
            <span class="menu-icon">🚦</span>
            <a th:href="'/project/' + ${project.id} + '/column'">Column</a>
        </li>
        <li>
            <span class="menu-icon">📌</span>
            <a th:href="'/project/' + ${project.id} + '/label'">Labels</a>
        </li>
    </ul>
</div>


<footer class="footer-section" th:fragment="footer">
</footer>

</body>
</html>