<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Comment</title>
</head>
<body>
<h1>Edit Comment</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/comment}" th:object="${entity}" method="post">

    <p>
        <label for="issue">issue:</label>
        <input type="text" th:field="*{issue}" id="issue" required>
    </p>
    <p>
        <label for="owner">owner:</label>
        <input type="text" th:field="*{owner}" id="owner" required>
    </p>
    <p>
        <label for="text">text:</label>
        <input type="text" th:field="*{text}" id="text" required>
    </p>
    <p>
        <label for="dateCreated">dateCreated:</label>
        <input type="text" th:field="*{dateCreated}" id="dateCreated" required>
    </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/comment}">Cancel</a>
    </p>
</form>

</body>
</html>
