<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${entity.id == null} ? 'Create Issue' : 'Edit Issue'"></title>
    <div th:replace="~{commons :: head}"></div>
</head>
<body>
<div th:replace="~{commons :: header}"></div>


<section class="mt-5">
    <div class="container">
        <div class="row">
            <div th:replace="~{commons :: left-menu}"></div>
            <div class="col-md-8" th:classappend="${project.id == null} ? 'offset-md-2' : ''">
                <div class="row">
                    <h1 th:text="${entity.id == null} ? 'Create Issue' : 'Edit Issue'"></h1>
                </div>
                <div class="row mt-5">
                    <form th:action="@{/issue}" th:object="${entity}" method="post" class="width100">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}" required>
                        </div>

                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" id="description" th:field="*{description}" rows="3"
                                      required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Labels:</label>
                            <div>
                                <div th:each="label : ${entity.getLabels()}">
                                    <input type="checkbox" th:id="${'label_' + label.id}" th:value="${label.id}"
                                           th:field="*{labels}">
                                    <label th:for="${'label_' + label.id}" th:text="${label.name}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status">Status:</label>
                            <select class="form-control" id="status" th:field="*{status}">
                                <option th:each="status : ${T(com.hescha.minijira.model.IssueStatus).values()}"
                                        th:value="${status}"
                                        th:text="${status}"></option>
                            </select>
                        </div>
                        <div class="form-group" hidden>
                            <input type="text" th:field="*{id}" class="form-control" id="id" name="id">
                            <input type="text" th:value="${project.id}" class="form-control" id="projectId"
                                   name="projectId">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a th:href="@{/issue}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>

                <div class="row mt-5">
                    <h2>Activities</h2>
                    <ul>
                        <li th:each="activity : ${entity.activities}">
                            <span th:text="${activity.type}"></span>
                            <span th:text=": ${activity.description}"></span>
                            <span th:text=" | ${activity.dateCreated}"></span>
                        </li>
                    </ul>
                </div>

                <div class="row mt-5">
                    <h2>Comments</h2>
                    <ul>
                        <li th:each="comment : ${entity.comments}">
                            <strong th:text="${comment.owner.username}"></strong>
                            <span th:text=": ${comment.text}"></span>
                            <span th:text=" | ${comment.dateCreated}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>
