<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Issue</title>
</head>
<body>
<h1>Edit Issue</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/issue}" th:object="${entity}" method="post">

    <p>
        <label for="board">board:</label>
        <input type="text" th:field="*{board}" id="board" required>
    </p>
    <p>
        <label for="name">name:</label>
        <input type="text" th:field="*{name}" id="name" required>
    </p>
    <p>
        <label for="description">description:</label>
        <input type="text" th:field="*{description}" id="description" required>
    </p>
    <p>
        <label for="column">column:</label>
        <input type="text" th:field="*{column}" id="column" required>
    </p>
    <p>
        <label for="labels">labels:</label>
        <select multiple="multiple" th:field="*{labels}" id="labels">
            <option th:each="labels_item : ${labels_list}" th:value="${labels_item}" th:text="${labels_item}"></option>
        </select>
    </p>
    <p>
        <label for="comments">comments:</label>
        <select multiple="multiple" th:field="*{comments}" id="comments">
            <option th:each="comments_item : ${comments_list}" th:value="${comments_item}"
                    th:text="${comments_item}"></option>
        </select>
    </p>
    <p>
        <label for="assigned">assigned:</label>
        <input type="text" th:field="*{assigned}" id="assigned" required>
    </p>
    <p>
        <label for="created">created:</label>
        <input type="text" th:field="*{created}" id="created" required>
    </p>
    <p>
        <label for="related">related:</label>
        <select multiple="multiple" th:field="*{related}" id="related">
            <option th:each="related_item : ${related_list}" th:value="${related_item}"
                    th:text="${related_item}"></option>
        </select>
    </p>
    <p>
        <label for="activities">activities:</label>
        <select multiple="multiple" th:field="*{activities}" id="activities">
            <option th:each="activities_item : ${activities_list}" th:value="${activities_item}"
                    th:text="${activities_item}"></option>
        </select>
    </p>
    <p>
        <label for="timeSpend">timeSpend:</label>
        <input type="text" th:field="*{timeSpend}" id="timeSpend" required>
    </p>
    <p>
        <label for="dateCreated">dateCreated:</label>
        <input type="text" th:field="*{dateCreated}" id="dateCreated" required>
    </p>
    <p>
        <label for="status">status:</label>
        <input type="text" th:field="*{status}" id="status" required>
    </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/issue}">Cancel</a>
    </p>
</form>

</body>
</html>
