<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Issue</title>
    <div th:replace="~{commons :: head}"></div>
</head>
<body>

<div th:replace="~{commons :: header}"></div>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <h3 th:if="${message!=null}" th:text="${message}">Message</h3>
        </div>
        <div class="row">
            <!-- left menu -->
            <div th:replace="~{commons :: left-menu}"></div>
            <!-- issues list -->
            <div class="col-8 m-auto">
                <div class="d-flex justify-content-around">
                    <h3 th:text="${entity.name}">Issue Name</h3>
                    <div class="mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#manageTimeModal">
                            Manage Time
                        </button>
                        <a th:href="@{/issue/{id}/edit/{issueId}(id=${entity.project.id}, issueId=${entity.id})}"
                           th:classappend="${isOwner != null and isOwner == false} ? 'hidden' : ''"
                           class="btn btn-primary">Edit</a>
                        <form th:if="${entity.id!=null}" method="get"
                              th:action="'/issue/' + ${entity.id} + '/delete'"
                              th:classappend="${isApplicant != null and isApplicant == false} ? 'hidden' : ''"
                              class="d-inline">
                            <input type="submit" value="Delete" class="btn btn-danger"
                                   onclick="return confirm('Are you sure?')">
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <p class="card-text" th:text="${entity.description}">Issue Description</p>
                    <hr>
                    <h6>Details</h6>
                    <p><strong>Column: </strong><span th:text="${entity.column.name}">Column Name</span></p>
                    <p><strong>Assigned: </strong><span
                            th:text="${entity.assigned == null ? 'Unasigned' : entity.assigned.username}">Assigned User</span>
                    </p>
                    <p><strong>Created by: </strong><span th:text="${entity.created.username}">Creator</span></p>
                    <p><strong>Time Spent: </strong><span th:text="${entity.timeSpend}">Time Spent</span></p>
                    <p><strong>Date Created: </strong><span th:text="${entity.dateCreated}">Date Created</span></p>
                    <p><strong>Status: </strong><span th:text="${entity.status}">Status</span></p>
                    <hr>
                    <h6>Labels</h6>
                    <div class="mx-1 d-flex">
                        <div class="mx-1" th:each="labels_item : ${entity.labels}" th:text="${labels_item.name}"></div>
                    </div>
                    <div class="form-group">
                        <hr>
                        <h6>Comments</h6>
                        <ul>
                            <li th:each="comments_item : ${entity.comments}" th:text="${comments_item}"></li>
                        </ul>
                        <div>
                            <h6>Add Comment</h6>
                            <form th:action="@{/comment}" method="post">
                                <div class="form-group">
                                    <label for="comment-text">Comment:</label>
                                    <textarea class="form-control" id="comment-text" name="text" rows="3"
                                              required></textarea>
                                </div>
                                <input type="hidden" name="issueId" th:value="${entity.id}">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="form-group">
                        <hr>
                        <h6>Activities</h6>
                        <ul>
                            <li th:each="activities_item : ${entity.activities}" th:text="${activities_item}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Manage Time Modal -->
<div class="modal fade" id="manageTimeModal" tabindex="-1" aria-labelledby="manageTimeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manageTimeModalLabel">Manage Time</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="manageTimeForm">
                    <div class="form-group">
                        <label for="timeAmount">Time Amount (minutes):</label>
                        <input type="number" class="form-control" id="timeAmount" name="timeAmount" min="1" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="submitManageTimeForm('addTime')">Add Time</button>
                <button type="button" class="btn btn-danger" onclick="submitManageTimeForm('removeTime')">Remove Time</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function submitManageTimeForm(action) {
        const timeAmount = document.getElementById("timeAmount").value;
        const issueId = /*[[${entity.id}]]*/ '';

        if (timeAmount < 1) {
            alert("Time amount must be at least 1");
            return;
        }

        const form = document.createElement("form");
        form.method = "POST";
        form.action = "/issue/" + issueId + "/" + action;

        const timeAmountInput = document.createElement("input");
        timeAmountInput.type = "hidden";
        timeAmountInput.name = "timeAmount";
        timeAmountInput.value = timeAmount;
        form.appendChild(timeAmountInput);

        document.body.appendChild(form);
        form.submit();
    }
</script>


<div th:replace="~{commons :: footer}"></div>

</body>
</html>
