<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Label</title>
</head>
<body>
<h1>Edit Label</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/label}" th:object="${entity}" method="post">

    <p>
        <label for="name">name:</label>
        <input type="text" th:field="*{name}" id="name" required>
    </p>
    <p>
        <label for="description">description:</label>
        <input type="text" th:field="*{description}" id="description" required>
    </p>
    <p>
        <label for="issues">issues:</label>
        <select multiple="multiple" th:field="*{issues}" id="issues">
            <option th:each="issues_item : ${issues_list}" th:value="${issues_item}" th:text="${issues_item}"></option>
        </select>
    </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/label}">Cancel</a>
    </p>
</form>

</body>
</html>
