<!DOCTYPE html>
<html lang="en">
<head>
    <title>Projects</title>
    <div th:replace="~{commons :: head}"></div>
</head>
<body>

<div th:replace="~{commons :: header}"></div>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <!-- projects list -->
            <div class="col-8 m-auto">
                <div class="row projectMenu">
                    <div class="indexItemInfo">
                        <div class="indexItemInfo-image">5</div>
                        <div class="indexItemInfo-data">
                            <div class="indexItemInfo-title">5 minute production app</div>
                            <div class="indexItemInfo-id">Group ID: 10127741</div>
                        </div>
                    </div>
                    <a href="/project/edit" class="btn btn-primary create-project-btn btnCenter">Create project</a>
                </div>
                <div class="row">
                    <div class="indexDescription">Deploy application to production in less than 5 minutes</div>
                </div>
                <div class="row">
                    <form action="/project" class="searchForm">
                        <input type="text" class="searchField fieldItemInput" placeholder="Search" name="searchPhrase">
                        <input type="submit" value="Search" class="btn btn-primary btn-search">
                    </form>
                </div>
                <div class="row">
                    <div class="table-container">
                        <div class="table-row" th:each="entity : ${list}">
                            <div class="table-cell project-image"
                                 th:if="${entity.image == ''}"
                                 th:text="${entity.name.charAt(0)}">P
                            </div>
                            <div class="table-cell project-image"
                                 th:if="${entity.image != null and entity.image != ''}">
                                <img th:src="${entity.image}" width="60" height="60">
                            </div>
                            <a class="table-cell project-details"
                               th:href="'/project/'+${entity.id}">
                                <div class="project-title" th:text=${entity.name}>Project Title</div>
                                <div class="project-description" th:text=${entity.description}>
                                    Project description goes here...
                                </div>
                            </a>
                            <div class="table-cell project-status" th:text=${entity.status}>Status</div>
                            <div class="table-cell project-members">
                                <span class="project-members-icon">👥</span>
                                <span class="project-members-count" th:text="${entity.getMembers().size()}">5</span>
                            </div>
                            <div class="table-cell project-author"
                                 th:text="${entity.owner.firstname} + ' ' + ${entity.owner.lastname}">
                                Author
                            </div>
                            <a class="table-cell project-details"
                               th:href="'/project/edit/'+${entity.id}">
                                Edit
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{commons :: footer}"></div>

</body>
</html>


