<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Project</title>
    <div th:replace="~{commons :: head}"></div>
</head>
<body>

<div th:replace="~{commons :: header}"></div>

<section class="mt-5">
    <div class="container">
        <div class="row textCenter offset-md-2">
            <h1>Create Project</h1>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <form action="/project" th:object="${entity}" method="post">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" th:field="*{description}" class="form-control" id="description" required>
                    </div>
                    <div class="form-group">
                        <label for="image">Image:</label>
                        <input type="text" th:field="*{image}" class="form-control" id="image">
                    </div>
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <select th:field="*{status}" class="form-control" id="status" required>
                            <option value="ALIVE">ALIVE</option>
                            <option value="DEAD">DEAD</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="members">Members:</label>
                        <select multiple="multiple" th:field="*{members}" class="form-control" id="members" disabled>
                            <option th:each="member : ${members_list}" th:value="${member}" th:text="${member}"></option>
                        </select>
                    </div>
                    <div class="form-group" hidden>
                        <label for="owner">Owner:</label>
                        <input type="text" th:field="*{owner}" class="form-control" id="owner">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create Project" class="btn btn-primary">
                        <a th:href="@{/project}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{commons :: footer}"></div>

</body>
</html>
