<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<header>
    <div class="container">
        <div class="header-content">
            <a href="/" class="header-logo">🏠</a>
            <div class="header-buttons">
                <a href="/registration" class="btn btn-register">Register</a>
                <a href="/login" class="btn btn-signin">Sign in</a>
            </div>
        </div>
    </div>
</header>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <!-- left menu -->
            <div th:replace="~{commons :: left-menu}"></div>
            <!-- projects list -->
            <div class="col-8">
                <div class="row projectMenu">
                    <div class="indexItemInfo">
                        <div class="indexItemInfo-image">5</div>
                        <div class="indexItemInfo-data">
                            <div class="indexItemInfo-title">5 minute production app</div>
                            <div class="indexItemInfo-id">Group ID: 10127741</div>
                        </div>
                    </div>
                    <button class="btn btn-primary create-project-btn">Create project</button>

                </div>
                <div class="row">
                    <div class="indexDescription">Deploy application to production in less than 5 minutes</div>
                </div>
                <div class="row">
                    <form action="/search" class="searchForm">
                        <input type="text" class="searchField fieldItemInput" placeholder="Search">
                        <input type="submit" value="Search" class="btn btn-primary btn-search">
                    </form>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="table-container">
                        <div class="table-row" th:each="entity : ${list}">
                            <div class="table-cell project-image">P</div>
                            <div class="table-cell project-details">
                                <div class="project-title" th:text=${entity.name}>Project Title</div>
                                <div class="project-description" th:text=${entity.description}>Project description goes
                                    here...
                                </div>
                            </div>
                            <div class="table-cell project-status" th:text=${entity.status}>Status</div>
                            <div class="table-cell project-members">
                                <span class="project-members-icon">👥</span>
                                <span class="project-members-count" th:text="${entity.getMembers().size()}">5</span>
                            </div>
                            <div class="table-cell project-author" th:text=${entity.owner}>Author</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<footer></footer>

</body>
</html>


