<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Create Project
    </title>
    <div th:replace="~{commons :: head}"></div>
</head>
<body>

<div th:replace="~{commons :: header}"></div>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div th:replace="~{commons :: left-menu}">
            </div>
            <div class="col-md-8" th:classappend="${project.id == null} ? 'offset-md-2' : ''">
                <h1 th:if="${project.id == null}">
                    Create Project
                </h1>
                <h1 th:if="${project.id != null}">
                    Edit Project
                </h1>
                <form action="/project" th:object="${project}" method="post">
                    <div class="form-group">
                        <label for="name">
                            Name:
                        </label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="description">
                            Description:
                        </label>
                        <input type="text" th:field="*{description}" class="form-control" id="description" required>
                    </div>
                    <div class="form-group">
                        <label for="image">
                            Image:
                        </label>
                        <input type="text" th:field="*{image}" class="form-control" id="image">
                    </div>
                    <div class="form-group">
                        <label for="status">
                            Status:
                        </label>
                        <select th:field="*{status}" class="form-control" id="status" required>
                            <option value="ALIVE">
                                ALIVE
                            </option>
                            <option value="ARCHIVED">
                                ARCHIVED
                            </option>
                        </select>
                    </div>
                    <div class="form-group" hidden>
                        <input type="text" th:field="*{id}" class="form-control" id="id" name="id">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save Project" class="btn btn-primary">
                        <a th:href="@{/project}" class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{commons :: footer}"></div>

</body>
</html>
