<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
    <div th:replace="~{commons :: head}"></div>
</head>
<body>

<div th:replace="~{commons :: header}"></div>

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-8 m-auto">
                <div class="user-profile d-flex justify-content-between">
                    <div class="user-image">
                        <img th:src="${entity.image}" width="300" height="300" alt="User image"/>
                    </div>
                    <div class="user-details">
                        <h2 class="username" th:text="${entity.username}">Username</h2>
                        <h3 class="fullname" th:text="${entity.firstname} + ' ' + ${entity.lastname}">First Name Last
                            Name</h3>
                        <p class="email" th:text="${entity.email}">Email</p>
                    </div>
                    <div class="edit-profile">
                        <a th:if="${#request.userPrincipal.getName().equals(entity.username)}"
                                th:href="@{/user/edit/{id}(id=${entity.id})}" class="btn btn-primary">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-8 m-auto">
                <h3>Own projects</h3>
                <div th:replace="~{commons :: project-list(projectList=${entity.ownProjects})}"></div>
            </div>
        </div>
    </div>
</section>


<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-8 m-auto">
                <h3>Contribute projects</h3>
                <div th:replace="~{commons :: project-list(projectList=${entity.contributeProjects})}"></div>
            </div>
        </div>
    </div>
</section>

</body>
</html>