<!DOCTYPE html>
<html lang="en">
<head>
	<title>Edit profile</title>
	<div th:replace="~{commons :: head}"></div>
</head>
<body>

<div th:replace="~{commons :: header}"></div>

<section class="mt-5">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="greetingMessage">
					<h3>Edit user profile</h3>
				</div>
			</div>
		</div>
		<h3 th:if="${success != null}" th:text="${success}" class="text-center"></h3>
		<form action="/user" class="singin" method="post"  th:object="${entity}">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<div class="form">
						<div class="row">
							<div class="col">
								<div class="combiner">
								<div class="fieldItem">
	  								<label for="firstName" class="fieldItemLabel">First name</label>
									<input id="firstName" name="firstname" type="text" class="fieldItemInput" th:field="*{firstname}"/>
								</div>
								<div class="fieldItem">
	  								<label for="lastName" class="fieldItemLabel">Last name</label>
									<input id="lastName" name="lastname" type="text" class="fieldItemInput" th:field="*{lastname}"/>
								</div>
							</div>
						</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="fieldItem">
	  								<label for="username" class="fieldItemLabel">Username</label>
									<input id="username" name="username" type="text" class="fieldItemInput" th:field="*{username}"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="fieldItem">
									<label for="email" class="fieldItemLabel">Email</label>
									<input id="email" name="email" type="email" class="fieldItemInput" th:field="*{email}"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="fieldItem">
									<label for="image">Image:</label>
									<input id="image" name="image" type="text" class="fieldItemInput" th:field="*{image}"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="fieldItem">
	  								<label for="password" class="fieldItemLabel">Password</label>
									<input id="password" name="password" type="password" class="fieldItemInput" th:field="*{password}"/>
								</div>
							</div>
						</div>
						<input type="text" th:field="*{id}" hidden>
						<div class="row">
							<div class="col">
								<div class="fieldItem">
	  								<input type="submit" class="btn btn-primary" value="Update">
									<button onclick="history.back()" class="btn btn-secondary">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<div th:replace="~{commons :: footer}"></div>
	
</body>
</html>